@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Outfit:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-outfit text-slate-900 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-nunito;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}